
services:
  app:
    container_name: do-rent-app
    build:
      context: .
      args:
        MONGODB_URI: ${MONGODB_URI}
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    container_name: do-rent-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
